#wrapper
  div(ng-include='"components/navbar/navbar.html"')
  #page-wrapper(ng-controller="EditUserCtrl").form-user
    .row
        .col-lg-12.page-header
            h1 Editar Usuario
            div(ng-show="user.role!='admin'")
              div.btn.btn-warning.new(ng-click="delete()") Eliminar Usuario
          //
             /.col-lg-12
    .row
        .col-lg-12
            .panel.panel-default
              #status-title.panel-heading
                | {{ status || 'Registro'}}
              .panel-body
                .row
                  form.form(name='form', ng-submit='update(form)', novalidate='', enctype="multipart/form-data")
                    .col-lg-6
                      input( type='hidden' ng-model="user._id" name='_id')
                      input( type='hidden', name="password" ng-model='user.password')

                      .form-group(ng-class='{ "has-success": form.name.$valid && submitted,\
                        "has-error": form.name.$invalid && submitted }')
                        label Nombre Empresa
                        input.form-control(placeholder="Ejemplo: Youpii promos", type='text',
                        name='name', ng-model='user.name', required='')
                        p.help-block(ng-show='form.name.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.businessName.$valid && submitted,\
                        "has-error": form.businessName.$invalid && submitted }')
                        label Razón social
                        input.form-control(placeholder='Ejemplo: Promocion Youpii S.A. de C.V.', type='text',
                        name='businessName', ng-model='user.businessName', required='')
                        p.help-block(ng-show='form.businessName.$error.required && submitted')
                          | Error de validación de campo


                      .form-group(ng-class='{ "has-success": form.url.$valid && submitted,\
                        "has-error": form.url.$invalid && submitted }')
                        label URL de Empresa
                        input.form-control(placeholder='Ejemplo: el-nombre-de-mi-empresa', type='text',
                        name='url', ng-model='user.url', required='')
                        p.help-block(ng-show='form.url.$error.required && submitted')
                          | Error de validación de campo
                        p.help-block(ng-show='form.url.$error.mongoose')
                          | {{ errors.url }}

                      .form-group(ng-class='{ "has-success": form["description[es]"].$valid && submitted,\
                        "has-error": form["description[es]"].$invalid && submitted }')
                        label Breve descripción - Español
                        input.form-control(placeholder="Ejemplo: Restaurante en el centro de vallarta, donde puedes encontrar...", type='text',
                        name='description[es]', ng-model='user.description.es', required='')
                        p.help-block(ng-show='form["description[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["description[en]"].$valid && submitted,\
                        "has-error": form["description[en]"].$invalid && submitted }')
                        label Breve descripción - Inglés
                        input.form-control(placeholder="Ejemplo: Restaurant in downtown Vallarta, where you can find ...", type='text',
                        name='description[en]', ng-model='user.description.en', required='')
                        p.help-block(ng-show='form["description[en]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["info[es]"].$valid && submitted,\
                        "has-error": form["info[es]"].$invalid && submitted }')
                        label Descripción detallada - Español
                        text-angular(ng-model="user.info.es")
                        textarea.form-control(placeholder="Ejemplo: Restaurante en el centro de vallarta, donde puedes encontrar...", type='text',
                        name='info[es]', ng-model='user.info.es', required='', class="none")
                        p.help-block(ng-show='form["info[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["info[en]"].$valid && submitted,\
                        "has-error": form["info[en]"].$invalid && submitted }')
                        label Descripción detallada - Inglés
                        text-angular(ng-model="user.info.en")
                        textarea.form-control(text-angular, placeholder="Ejemplo: Restaurant in downtown Vallarta, where you can find ...", type='text',
                        name='info[en]', ng-model='user.info.en', required='', class="none")
                        p.help-block(ng-show='form["info[en]"].$error.required && submitted')
                          | Error de validación de campo

                      h1 contacto

                      .form-group(ng-class='{ "has-success": form.email.$valid && submitted,\
                        "has-error": form.email.$invalid && submitted }')
                        label Email
                        input.form-control(placeholder='Ejemplo: mi_empresa@fake.com', type='email',
                        name='email', ng-model='user.email', required='', mongoose-error='')
                        p.help-block(ng-show='form.email.$error.email && submitted')
                          | Doesn't look like a valid email.
                        p.help-block(ng-show='form.email.$error.required && submitted')
                          | What's your email address?
                        p.help-block(ng-show='form.email.$error.mongoose')
                          | {{ errors.email }}

                      .form-group
                        label ¿Selecciona si quieres el email sea visible al público?
                        input.form-control(type='checkbox', name='visibleEmail', ng-model='user.visibleEmail')

                      .form-group(ng-class='{ "has-success": form.tel.$valid && submitted,\
                        "has-error": form.tel.$invalid && submitted }')
                        label Telefono
                        input.form-control(placeholder='Ejemplo: (329)1020102, (233)2344521', type='text',
                        name='tel', ng-model='user.tel')
                        p.help-block(ng-show='form.tel.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.cel.$valid && submitted,\
                        "has-error": form.cel.$invalid && submitted }')
                        label Celular
                        input.form-control(placeholder='Ejemplo: (329)1020102, (233)2344521', type='text',
                        name='cel', ng-model='user.cel')
                        p.help-block(ng-show='form.cel.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["dir[es]"].$valid && submitted,\
                        "has-error": form["dir[es]"].$invalid && submitted }')
                        label Dirección - Español
                        text-angular(ng-model="user.dir.es")
                        textarea.form-control(rows='3', placeholder='Ejemplo: Juan de la Barrera, Colonia: Buena vista', name='dir[es]', ng-model='user.dir.es', class="none")
                        p.help-block(ng-show='form["dir[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["dir[en]"].$valid && submitted,\
                        "has-error": form["dir[en]"].$invalid && submitted }')
                        label Dirección - Inglés
                        text-angular(ng-model="user.dir.en")
                        textarea.form-control(rows='3', placeholder='Ejemplo:Street. Juan de la Barrera, Sector: Buena vista', name='dir[en]', ng-model='user.dir.en', class="none")
                        p.help-block(ng-show='form["dir[en]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["hours[es]"].$valid && submitted,\
                        "has-error": form["hours[es]"].$invalid && submitted }')
                        label Horario - Español
                        input.form-control(placeholder='Ejemplo: 9:00 am -10:00pm', name='hours[es]', ng-model='user.hours.es')
                        p.help-block(ng-show='form["hours[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["hours[en]"].$valid && submitted,\
                        "has-error": form["hours[en]"].$invalid && submitted }')
                        label Horario - Inglés
                        input.form-control(placeholder='Ejemplo: 9:00 am -10:00pm', name='hours[en]', ng-model='user.hours.en')
                        p.help-block(ng-show='form["hours[en]"].$error.required && submitted')
                          | Error de validación de campo


                      .form-group(ng-class='{ "has-success": form.city.$valid && submitted,\
                        "has-error": form.city.$invalid && submitted }')
                        label Ciudad
                        select.form-control(ng-model="user.city", name="city", placeholder="Ciudad",required='' )
                          option(value="") --- selecciona ciudad ----
                          option(value="{{city._id}}" ng-repeat="city in cities | orderBy:'name'") {{ city.name }}

                      .form-group(ng-class='{ "has-success": form.coords.$valid && submitted,\
                        "has-error": form.coords.$invalid && submitted }')
                        label Coordenadas
                        input.form-control(placeholder='Ejemplo: 20.640620, -105.222771', type='text',
                        name='coords', ng-model='user.coords', required='')
                        p.help-block(ng-show='form.coords.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.logo.$valid && submitted,\
                        "has-error": form.logo.$invalid && submitted }')
                        label Logo
                        img.logo(src="{{user.logo.paths.small}}" )
                        label Reemplazar
                        input.form-control(type='file', name="logo", ng-model="user.logo")
                        p.help-block(ng-show='form.logo.$error.required && submitted')
                          | Error de validación de campo

                    .col-lg-6
                      h1 Persona de contacto

                      .form-group(ng-class='{ "has-success": form.contact[name].$valid && submitted,\
                        "has-error": form.contact[name].$invalid && submitted }')
                        label Nombre
                        input.form-control(placeholder='Ejemplo: Paco Perez Piñón', type='text',
                        name='contact[name]', ng-model='user.contact.name', required='')
                        p.help-block(ng-show='form.contact[name].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.contact[tel].$valid && submitted,\
                        "has-error": form.contact[tel].$invalid && submitted }')
                        label Tel
                        input.form-control(placeholder='Ejemplo: (329)1020102', type='text',
                        name='contact[tel]', ng-model='user.contact.tel')
                        p.help-block(ng-show='form.contact[tel].$error.required && submitted')
                          | Error de validación de campo


                      h1 Imágenes
                      .form-group(ng-class='{ "has-success": form.images.$valid && submitted,\
                        "has-error": form.images.$invalid && submitted }')

                        label Reemplazarás todas las imágenes al subir nuevos archivos
                        a.logo(href="{{user.images[0].paths.small}}" ) {{user.images[0].paths.small}}
                        input.form-control(type='file', name="images", ng-model="user.images")
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[0].desc.en')
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[0].desc.es')

                      .form-group(ng-class='{ "has-success": form.images.$valid && submitted,\
                        "has-error": form.images.$invalid && submitted }')
                        img.logo(src="{{user.images[1].paths.slim}}" )
                        input.form-control(type='file', name="images", ng-model="user.images")
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[1].desc.en')
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[1].desc.es')

                      .form-group(ng-class='{ "has-success": form.images.$valid && submitted,\
                        "has-error": form.images.$invalid && submitted }')
                        img.logo(src="{{user.images[2].paths.slim}}" )
                        input.form-control(type='file', name="images", ng-model="user.images")
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[2].desc.en')
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[2].desc.es')

                      .form-group(ng-class='{ "has-success": form.images.$valid && submitted,\
                        "has-error": form.images.$invalid && submitted }')
                        img.logo(src="{{user.images[3].paths.slim}}" )
                        input.form-control(type='file', name="images", ng-model="user.images")
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[3].desc.en')
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[3].desc.es')

                      .form-group(ng-class='{ "has-success": form.images.$valid && submitted,\
                        "has-error": form.images.$invalid && submitted }')
                        img.logo(src="{{user.images[4].paths.slim}}" )
                        input.form-control(type='file', name="images", ng-model="user.images")
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[4].desc.en')
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[4].desc.es')

                      .form-group(ng-class='{ "has-success": form.images.$valid && submitted,\
                        "has-error": form.images.$invalid && submitted }')
                        img.logo(src="{{user.images[5].paths.slim}}" )
                        input.form-control(type='file', name="images", ng-model="user.images")
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[5].desc.en')
                        input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                        name='images[desc]', ng-model='user.images[5].desc.es')
                      p.help-block(ng-show='form.images.$error.required && submitted')
                        | Error de validación de campo

                      h1 Social

                      .form-group(ng-class='{ "has-success": form.urlWebsite.$valid && submitted,\
                        "has-error": form.urlWebsite.$invalid && submitted }')
                        label Website
                        input.form-control(type="text", name="urlWebsite" placeholder='Ejemplo: www.mi-empresa.com' ng-model='user.urlWebsite')
                        p.help-block(ng-show='form.urlWebsite.$error.required && submitted')
                            | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.social["whatsapp"].$valid && submitted,\
                        "has-error": form.social["whatsapp"].$invalid && submitted }')
                        label Whatsapp
                        input.form-control(type="text", name="social[whatsapp]" placeholder='Ejemplo: 01(322)123532' ng-model='user.social.whatsapp' )
                        p.help-block(ng-show='form.social[whatsapp].$error.required && submitted')
                            | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.social["facebook"].$valid && submitted,\
                        "has-error": form.social["facebook"].$invalid && submitted }')
                        label Facebook
                        input.form-control(type="text", name="social[facebook]" placeholder='Ejemplo: /mi_empresa' ng-model='user.social.facebook' )
                        p.help-block(ng-show='form.social["facebook"].$error.required && submitted')
                            | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.social["twitter"].$valid && submitted,\
                        "has-error": form.social["twitter"].$invalid && submitted }')
                        label Twitter
                        input.form-control(type="text", name="social[twitter]" placeholder='Ejemplo: www.twitter.com/mi_empresa' ng-model='user.social.twitter')
                        p.help-block(ng-show='form.social["twitter"].$error.required && submitted')
                            | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.social["youtube"].$valid && submitted,\
                        "has-error": form.social["youtube"].$invalid && submitted }')
                        label youtube
                        input.form-control(type="text", name="social[youtube]" placeholder='Ejemplo: www.youtube.com/mi_empresa' ng-model='user.social.youtube')
                        p.help-block(ng-show='form.social["youtube"].$error.required && submitted')
                            | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.social["pinterest"].$valid && submitted,\
                        "has-error": form.social["pinterest"].$invalid && submitted }')
                        label pinterest
                        input.form-control(type="text", name="social[pinterest]" placeholder='Ejemplo: www.pinterest.com/mi_empresa' ng-model='user.social.pinterest')
                        p.help-block(ng-show='form.social["pinterest"].$error.required && submitted')
                            | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.social["instagram"].$valid && submitted,\
                        "has-error": form.social["instagram"].$invalid && submitted }')
                        label instagram
                        input.form-control(type="text", name="social[instagram]" placeholder='Ejemplo: www.instagram.com/mi_empresa' ng-model='user.social.instagram')
                        p.help-block(ng-show='form.social["instagram"].$error.required && submitted')
                            | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.social["yelp"].$valid && submitted,\
                        "has-error": form.social["yelp"].$invalid && submitted }')
                        label yelp
                        input.form-control(type="text", name="social[yelp]" placeholder='Ejemplo: www.yelp.com/mi_empresa' ng-model='user.social.yelp')
                        p.help-block(ng-show='form.social["yelp"].$error.required && submitted')
                            | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.social["foursquare"].$valid && submitted,\
                        "has-error": form.social["foursquare"].$invalid && submitted }')
                        label foursquare
                        input.form-control(type="text", name="social[foursquare]" placeholder='Ejemplo: www.foursquare.com/mi_empresa' ng-model='user.social.foursquare')
                        p.help-block(ng-show='form.social["foursquare"].$error.required && submitted')
                            | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.social["tripadvisor"].$valid && submitted,\
                        "has-error": form.social["tripadvisor"].$invalid && submitted }')
                        label tripadvisor
                        input.form-control(type="text", name="social[tripadvisor]" placeholder='Ejemplo: www.tripadvisor.com/mi_empresa' ng-model='user.social.tripadvisor')
                        p.help-block(ng-show='form.social["tripadvisor"].$error.required && submitted')
                            | Error de validación de campo


                      button.btn.btn-warning(type='reset') Reset Button
                      button.btn.btn-primary(type='submit') Submit Button

                  //
                     /.col-lg-6 (nested)
                //
                   /.row (nested)
              //
                 /.panel-body
            //
               /.panel
          //
             /.col-lg-12

