#wrapper
  div(ng-include='"components/navbar/navbar.html"')
  #page-wrapper.form-promo(ng-controller="EditPromoCtrl")
    .row
        .col-lg-12.page-header
            h1 Editar Promoción
            div.btn.btn-warning.new(ng-click="delete()") Eliminar Promoción
          //
             /.col-lg-12
    .row
        .col-lg-12
            .panel.panel-default
              .panel-heading
                | Registro
              .panel-body
                .row
                  form.form(name='form', ng-submit='update(form)', novalidate='', enctype="multipart/form-data")
                    .col-lg-6

                      .form-group(ng-class='{ "has-success": form["title[es]"].$valid && submitted,\
                        "has-error": form["title[es]"].$invalid && submitted }')
                        label Título español
                        text-angular(ng-model="promo.title.es")
                        textarea.form-control(placeholder="Ejemplo: in buying medium pizza free 2 liter soda", type='text',
                        name='title[es]', ng-model='promo.title.es', required='', class="none")
                        p.help-block(ng-show='form["title[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["title[en]"].$valid && submitted,\
                        "has-error": form["title[en]"].$invalid && submitted }')
                        label Título inglés
                        text-angular(ng-model="promo.title.en")
                        textarea.form-control(placeholder="Ejemplo: En la compra de pizza mediana gratis un refresco de 2 litros", type='text',
                        name='title[en]', ng-model='promo.title.en', required='', class="none")
                        p.help-block(ng-show='form["title[en]"].$error.required && submitted')
                          | Error de validación de campo


                      .form-group(ng-class='{ "has-success": form["description[es]"].$valid && submitted,\
                        "has-error": form["description[es]"].$invalid && submitted }')
                        label Descripción Español
                        text-angular(ng-model="promo.description.es")
                        textarea.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='description[es]', ng-model='promo.description.es', required='', class="none")
                        p.help-block(ng-show='form["description[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["description[en]"].$valid && submitted,\
                        "has-error": form["description[en]"].$invalid && submitted }')
                        label Descripción Inglés
                        text-angular(ng-model="promo.description.en")
                        textarea.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='description[en]', ng-model='promo.description.en', required='', class="none")
                        p.help-block(ng-show='form["description[en]"].$error.required && submitted')
                          | Error de validación de campo


                      .form-group(ng-class='{ "has-success": form["restriction[es]"].$valid && submitted,\
                        "has-error": form["restriction[es]"].$invalid && submitted }')
                        label Restricción Español
                        text-angular(ng-model="promo.restriction.es")
                        textarea.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='restriction[es]', ng-model='promo.restriction.es', required='', class="none")
                        p.help-block(ng-show='form["restriction[es]"].$error.required && submitted')
                          | Error de validación de campo


                      .form-group(ng-class='{ "has-success": form["restriction[en]"].$valid && submitted,\
                        "has-error": form["restriction[en]"].$invalid && submitted }')
                        label Restricción Inglés
                        text-angular(ng-model="promo.restriction.en")
                        textarea.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='restriction[en]', ng-model='promo.restriction.en', required='', class="none")
                        p.help-block(ng-show='form["restriction[en]"].$error.required && submitted')
                          | Error de validación de campo

                    .col-lg-6

                      .form-group(ng-class='{ "has-success": form["fullTitle[es]"].$valid && submitted,\
                        "has-error": form["fullTitle[es]"].$invalid && submitted }')
                        label Título completo Español
                        input.form-control(placeholder="Ejemplo: 2x1 en toda la verdura", type='text',
                        name='fullTitle[es]', ng-model='promo.fullTitle.es', required='')
                        p.help-block(ng-show='form["fullTitle[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["fullTitle[en]"].$valid && submitted,\
                        "has-error": form["fullTitle[en]"].$invalid && submitted }')
                        label Título completo Inglés
                        input.form-control(placeholder="Ejemplo: 2x1 all the vegetables", type='text',
                        name='fullTitle[en]', ng-model='promo.fullTitle.en', required='')
                        p.help-block(ng-show='form["fullTitle[en]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["url[es]"].$valid && submitted,\
                        "has-error": form["url[es]"].$invalid && submitted }')
                        label Url Español
                        input.form-control(type='text', name='url[es]', ng-model='promo.url.es', readonly="")
                        p.help-block(ng-show='form["url[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["url[en]"].$valid && submitted,\
                        "has-error": form["url[en]"].$invalid && submitted }')
                        label Url Inglés
                        input.form-control( type='text', name='url[en]', ng-model='promo.url.en', readonly="")
                        p.help-block(ng-show='form["url[en]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.promoKind.$valid && submitted,\
                        "has-error": form.promoKind.$invalid && submitted }')
                        label Tipo de Promoción
                        select.form-control(class="promoKind" , ng-model="promo.promoKind",
                          ng-options="promoKind.title for promoKind in promoKinds")
                          option(value="") --- selecciona Tipo de promoción ----
                        p.help-block(ng-show='form.promoKind.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["promo[es]"].$valid && submitted,\
                        "has-error": form["promo[es]"].$invalid && submitted }')
                        label Promoción Español
                        input.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='promo[es]', ng-model='promo.promo.es', required='')
                        p.help-block(ng-show='form["promo[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["promo[en]"].$valid && submitted,\
                        "has-error": form["promo[en]"].$invalid && submitted }')
                        label Promoción inglés
                        input.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='promo[en]', ng-model='promo.promo.en', required='')
                        p.help-block(ng-show='form["promo[en]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.owner.$valid && submitted,\
                        "has-error": form.owner.$invalid && submitted }')
                        label Empresa
                        select.form-control( ng-model='promo.owner',
                          ng-options="user.name for user in users", required='')
                          option(value="") --- selecciona empresa ----
                        p.help-block(ng-show='form.owner.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.pack.$valid && submitted,\
                        "has-error": form.pack.$invalid && submitted }')
                        label Paquete
                        select.form-control(type='text', ng-model='promo.pack', required='', ng-options="pack.name for pack in packs")
                          option(value="") --- selecciona Paquete ----
                        p.help-block(ng-show='form.pack.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["category[0]"].$valid && submitted,\
                        "has-error": form["category[0]"].$invalid && submitted }')
                        label Categorías
                        select.form-control( type='text', ng-model='promo.category[0]', required='', ng-options="category.name.es for category in categories")
                          option(value="") --- selecciona categoría ----
                        p.help-block(ng-show='form["category[0]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["category[1]"].$valid && submitted,\
                        "has-error": form["category[1]"].$invalid && submitted }')
                        label Sub Categoría
                        select.form-control(type='text', ng-model='promo.category[1]',
                          required='', ng-options="category.name.es for category in categories")
                          option(value="") --- selecciona categoría ----

                        p.help-block(ng-show='form["category[1]"].$error.required && submitted')
                          | Error de validación de campo


                      .form-group(ng-class='{ "has-success": form.price.$valid && submitted,\
                        "has-error": form.price.$invalid && submitted }')
                        label Precio $
                        input.form-control(placeholder="Ejemplo: 1500.35", type='text',
                        name='price', ng-model='promo.price', required='')
                        p.help-block(ng-show='form.price.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.dateStart.$valid && submitted,\
                        "has-error": form.dateStart.$invalid && submitted }')
                        label Fecha de Inicio
                        input.form-control(placeholder="Ejemplo: 2011-04-11", type='text',
                        name='dateStart', ng-model='promo.dateStart', required='')
                        p.help-block(ng-show='form.dateStart.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.dateEnd.$valid && submitted,\
                        "has-error": form.dateEnd.$invalid && submitted }')
                        label Fecha de Fin
                        input.form-control(placeholder="Ejemplo: 2015-04-11", type='text',
                        name='dateEnd', ng-model='promo.dateEnd', required='')
                        p.help-block(ng-show='form.dateEnd.$error.required && submitted')
                          | Error de validación de campo


                      .form-group(ng-class='{ "has-success": form.currency.$valid && submitted,\
                        "has-error": form.currency.$invalid && submitted }')
                        label Moneda
                        select.form-control(type='text', name='currency', ng-model='promo.currency', required='')
                          option(value="MXN") Pesos Mexicanos
                          option(value="USD") Dolares Americanos
                        p.help-block(ng-show='form.currency.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["tags[es]"].$valid && submitted,\
                        "has-error": form["tags[es]"].$invalid && submitted }')
                        label Tags (separadas por espacios) Español
                        input.form-control(placeholder="Ejemplo: comida pizza mexicana", type='text',
                        name='tags[es]', ng-model='promo.tags.es', required='')
                        p.help-block(ng-show='form["tags[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["tags[en]"].$valid && submitted,\
                        "has-error": form["tags[en]"].$invalid && submitted }')
                        label Tags (separadas por espacios) Inglés
                        input.form-control(placeholder="Ejemplo: food pizza mexican", type='text',
                        name='tags[en]', ng-model='promo.tags.en', required='')
                        p.help-block(ng-show='form["tags[en]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group
                        label Tiene envio a domicilio?
                        input.form-control(type='checkbox', name='homeDelivery', ng-model='promo.homeDelivery')

                      h1 Imágenes

                      .form-group(ng-class='{ "has-success": form.imagemainn.$valid && submitted,\
                        "has-error": form.imagemainn.$invalid && submitted }')
                        h4 Principal Delgada
                        a(href="{{promo.imagemain.paths.slim}}") {{promo.imagemain.paths.slim}}
                        input.fileInput.form-control(type='file', name="imagemain", ng-model="promo.imagemainn", valid-file="", cropImg="imagemainn")
                        .cropArea Imagen Original
                          img-crop(image='imagemainn', result-image="imagemainCropped" area-type="rectangle" result-image-size="{w: 260, h: 280}")
                        div Imagen Delgada:
                        .cropped
                          img(ng-src='{{imagemainCropped}}' class="img-slim")


                        h4 Principal Larga
                        a(href="{{promo.imagemain.paths.large}}") {{promo.imagemain.paths.large}}
                        .form-group(ng-class='{ "has-success": form.imagemainn.$valid && submitted,\
                          "has-error": form.imagemainn.$invalid && submitted }')
                          .cropArea Imagen Original
                            img-crop(image='imagemainn', result-image="imagemainlCropped" area-type="rectangle" result-image-size="{w: 500, h: 268}")
                          div Imagen Larga:
                          .cropped
                            img(ng-src='{{imagemainlCropped}}' class="img-large")

                      .form-group(ng-class='{ "has-success": form["imagemain[desc][en]"].$valid && submitted,\
                        "has-error": form["imagemain[desc][en]"].$invalid && submitted }')
                          input.form-control(placeholder='Ejemplo: Mrs. taco chola', type='text',
                          name='imagemaindesc[en]', ng-model='promo.imagemain.desc.en', required="")
                        p.help-block(ng-show='form["imagemain[desc][en]"].$error.required && submitted')
                            | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["imagemain[desc][es]"].$valid && submitted,\
                        "has-error": form["imagemain[desc][es]"].$invalid && submitted }')
                          input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                          name='imagemaindesc[es]', ng-model='promo.imagemain.desc.es', required="")
                        p.help-block(ng-show='form["imagemain[desc][es]"].$error.required && submitted')
                            | Error de validación de campo

                      p Gallería
                      img( src="{{ promo.images[0].paths.small }}")
                      input.form-control(type='file', name="images")
                      input.form-control(placeholder='Ejemplo: The Chutneys', type='text',
                      name='imagesdesc[en]', ng-model='promo.images[0].desc.en')
                      input.form-control(placeholder='Ejemplo: Las salsas picantes', type='text',
                      name='imagesdesc[es]', ng-model='promo.images[0].desc.es')


                      img( src="{{ promo.images[1].paths.small }}")
                      input.form-control(type='file', name="images")
                      input.form-control(placeholder='Ejemplo: The entrance to the store Mrs. chona', type='text',
                      name='imagesdesc[en]', ng-model='promo.images[1].desc.en')
                      input.form-control(placeholder='Ejemplo: La entrada a la tienda doña chona', type='text',
                      name='imagesdesc[es]', ng-model='promo.images[1].desc.es')

                      img( src="{{ promo.images[2].paths.small }}")
                      input.form-control(type='file', name="images")
                      input.form-control(placeholder='Ejemplo: Mrs. Chona Restaurant', type='text',
                      name='imagesdesc[en]', ng-model='promo.images[2].desc.en')
                      input.form-control(placeholder='Ejemplo: Restaurante Doña Chona', type='text',
                      name='imagesdesc[es]', ng-model='promo.images[2].desc.es')

                      img( src="{{ promo.images[3].paths.small }}")
                      input.form-control(type='file', name="images")
                      input.form-control(placeholder='Ejemplo: Our Chefs', type='text',
                      name='imagesdesc[en]', ng-model='promo.images[3].desc.en')
                      input.form-control(placeholder='Ejemplo: Nuestros Chefs', type='text',
                      name='imagesdesc[es]', ng-model='promo.images[3].desc.es')

                      img( src="{{ promo.images[4].paths.small }}")
                      input.form-control(type='file', name="images")
                      input.form-control(placeholder='Ejemplo: Our Chefs', type='text',
                      name='imagesdesc[en]', ng-model='promo.images[4].desc.en')
                      input.form-control(placeholder='Ejemplo: Nuestros Chefs', type='text',
                      name='imagesdesc[es]', ng-model='promo.images[4].desc.es')

                      button.btn.btn-warning(type='reset') Reset Button
                      button.btn.btn-primary(type='submit') Submit Button

                  //
                     /.col-lg-6 (nested)
                //
                   /.row (nested)
              //
                 /.panel-body
            //
               /.panel
          //
             /.col-lg-12

