#wrapper
  div(ng-include='"components/navbar/navbar.html"')
  #page-wrapper.form-promo(ng-controller="EditPromoCtrl")
    .row
        .col-lg-12.page-header
            h1 Editar Promoción
            div.btn.btn-warning.new(ng-click="delete()") Eliminar Promoción
          //
             /.col-lg-12
    .row
        .col-lg-12
            .panel.panel-default
              .panel-heading
                | Registro
              .panel-body
                .row
                  form.form(name='form', ng-submit='update(form)', novalidate='', enctype="multipart/form-data")
                    .col-lg-6

                      .form-group(ng-class='{ "has-success": form["title[es]"].$valid && submitted,\
                        "has-error": form["title[es]"].$invalid && submitted }')
                        label Título español
                        textarea.form-control(placeholder="Ejemplo: in buying medium pizza free 2 liter soda", type='text',
                        name='title[es]', ng-model='promo.title.es', required='')
                        p.help-block(ng-show='form["title[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["title[en]"].$valid && submitted,\
                        "has-error": form["title[en]"].$invalid && submitted }')
                        label Título inglés
                        textarea.form-control(placeholder="Ejemplo: En la compra de pizza mediana gratis un refresco de 2 litros", type='text',
                        name='title[en]', ng-model='promo.title.en', required='')
                        p.help-block(ng-show='form["title[en]"].$error.required && submitted')
                          | Error de validación de campo


                      .form-group(ng-class='{ "has-success": form["promoStyle[en]"].$valid && submitted,\
                        "has-error": form["promoStyle[en]"].$invalid && submitted }')
                        label Estilo de promoción inglés
                        input.form-control(placeholder="Ejemplo: font-size:50%;line-heinght:10em;margin-top:2em", type='text',
                        name='promoStyle[en]', ng-model='promo.promoStyle.en')
                        p.help-block(ng-show='form["promoStyle[en]"].$error.required && submitted')
                          | Error de validación de campo
                      .form-group(ng-class='{ "has-success": form["promo[en]"].$valid && submitted,\
                        "has-error": form["promo[en]"].$invalid && submitted }')
                        label Promoción inglés
                        input.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='promo[en]', ng-model='promo.promo.en', required='')
                        p.help-block(ng-show='form["promo[en]"].$error.required && submitted')
                          | Error de validación de campo
                        p Vista previa Inglés
                        .circle-container
                          .circle-wrapper
                              .circle-inside
                                .label(style='{{promo.promoStyle.en}}' ng-bind-html="promo.promo.en")


                      .form-group(ng-class='{ "has-success": form["promoStyle[es]"].$valid && submitted,\
                        "has-error": form["promoStyle[es]"].$invalid && submitted }')
                        label Estilo de promoción español
                        input.form-control(placeholder="Ejemplo: font-size:50%;line-heinght:10em;margin-top:2em", type='text',
                        name='promoStyle[es]', ng-model='promo.promoStyle.es')
                        p.help-block(ng-show='form["promoStyle[es]"].$error.required && submitted')
                          | Error de validación de campo
                      .form-group(ng-class='{ "has-success": form["promo[es]"].$valid && submitted,\
                        "has-error": form["promo[es]"].$invalid && submitted }')
                        label Promoción Español
                        input.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='promo[es]', ng-model='promo.promo.es', required='')
                        p.help-block(ng-show='form["promo[es]"].$error.required && submitted')
                          | Error de validación de campo
                         p Vista previa Inglés
                        .circle-container
                          .circle-wrapper
                              .circle-inside
                                .label(style='{{promo.promoStyle.es}}' ng-bind-html="promo.promo.es")



                      .form-group(ng-class='{ "has-success": form["description[es]"].$valid && submitted,\
                        "has-error": form["description[es]"].$invalid && submitted }')
                        label Descripción
                        textarea.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='description[es]', ng-model='promo.description.es', required='')
                        p.help-block(ng-show='form["description[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["description[en]"].$valid && submitted,\
                        "has-error": form["description[en]"].$invalid && submitted }')
                        label Description
                        textarea.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='description[en]', ng-model='promo.description.en', required='')
                        p.help-block(ng-show='form["description[en]"].$error.required && submitted')
                          | Error de validación de campo



                      .form-group(ng-class='{ "has-success": form["restriction[es]"].$valid && submitted,\
                        "has-error": form["restriction[es]"].$invalid && submitted }')
                        label Restricción
                        textarea.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='restriction[es]', ng-model='promo.restriction.es', required='')
                        p.help-block(ng-show='form["restriction[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["restriction[en]"].$valid && submitted,\
                        "has-error": form["restriction[en]"].$invalid && submitted }')
                        label Restriction
                        textarea.form-control(placeholder="Ejemplo: 2x1", type='text',
                        name='restriction[en]', ng-model='promo.restriction.en', required='')
                        p.help-block(ng-show='form["restriction[en]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.owner.$valid && submitted,\
                        "has-error": form.owner.$invalid && submitted }')
                        label Empresa
                        select.form-control(type='text', name='owner', ng-model='promo.owner', required='')
                          option(value="{{user._id}}" ng-repeat="user in users | orderBy:'name'") {{ user.name }}
                        p.help-block(ng-show='form.owner.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.pack.$valid && submitted,\
                        "has-error": form.pack.$invalid && submitted }')
                        label Paquete
                        select.form-control(type='text', name='pack', ng-model='promo.pack', required='')
                          option(value="") --- selecciona empresa ----
                          option(value="{{pack._id}}" ng-repeat="pack in packs | orderBy:'name'") {{ pack.name }}
                        p.help-block(ng-show='form.pack.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["category[0]"].$valid && submitted,\
                        "has-error": form["category[0]"].$invalid && submitted }')
                        label Categorías
                        select.form-control( type='text', name='category[0]', ng-model='promo.category[0]', required='')
                          option(value="") --- selecciona categoría ----
                          option(value="{{category._id}}" ng-repeat="category in categories | orderBy:'name'") {{ category.name }}
                        p.help-block(ng-show='form["category[0]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["category[1]"].$valid && submitted,\
                        "has-error": form["category[1]"].$invalid && submitted }')
                        label Sub Categoría
                        select.form-control(type='text', name='category[1]', ng-model='promo.category[1]')
                          option(value="") --- selecciona categoría ----
                          option(value="{{category._id}}" ng-repeat="category in categories | orderBy:'name'") {{ category.name }}
                        p.help-block(ng-show='form["category[1]"].$error.required && submitted')
                          | Error de validación de campo


                      .form-group(ng-class='{ "has-success": form.price.$valid && submitted,\
                        "has-error": form.price.$invalid && submitted }')
                        label Precio $
                        input.form-control(placeholder="Ejemplo: 1500.35", type='text',
                        name='price', ng-model='promo.price', required='')
                        p.help-block(ng-show='form.price.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.dateStart.$valid && submitted,\
                        "has-error": form.dateStart.$invalid && submitted }')
                        label Fecha de Inicio
                        input.form-control(placeholder="Ejemplo: 2011-04-11", type='text',
                        name='dateStart', ng-model='promo.dateStart', required='')
                        p.help-block(ng-show='form.dateStart.$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form.dateEnd.$valid && submitted,\
                        "has-error": form.dateEnd.$invalid && submitted }')
                        label Fecha de Fin
                        input.form-control(placeholder="Ejemplo: 2015-04-11", type='text',
                        name='dateEnd', ng-model='promo.dateEnd', required='')
                        p.help-block(ng-show='form.dateEnd.$error.required && submitted')
                          | Error de validación de campo



                      .form-group(ng-class='{ "has-success": form["dateLimit[en]"].$valid && submitted,\
                        "has-error": form["dateLimit[en]"].$invalid && submitted }')
                        label Tiempo que será válida la Promoción - Inglés
                        input.form-control(placeholder="Ejemplo: sólo los lunen", type='text',
                        name='dateLimit[en]', ng-model='promo.dateLimit.en', required='')
                        p.help-block(ng-show='form["dateLimit[en]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["dateLimit[es]"].$valid && submitted,\
                        "has-error": form["dateLimit[es]"].$invalid && submitted }')
                        label Tiempo que será válida la Promoción - Español
                        input.form-control(placeholder="Ejemplo: sólo los lunes", type='text',
                        name='dateLimit[es]', ng-model='promo.dateLimit.es', required='')
                        p.help-block(ng-show='form["dateLimit[es]"].$error.required && submitted')
                          | Error de validación de campo



                      .form-group(ng-class='{ "has-success": form.currency.$valid && submitted,\
                        "has-error": form.currency.$invalid && submitted }')
                        label Moneda
                        select.form-control(type='text', name='currency', ng-model='promo.currency', required='')
                          option(value="MXN") Pesos Mexicanos
                          option(value="USD") Dolares Americanos
                        p.help-block(ng-show='form.currency.$error.required && submitted')
                          | Error de validación de campo



                      .form-group(ng-class='{ "has-success": form["url[es]"].$valid && submitted,\
                        "has-error": form["url[es]"].$invalid && submitted }')
                        label Url Español
                        input.form-control(placeholder="Ejemplo: martes-de-frescura-en-walmart", type='text',
                        name='url[es]', ng-model='promo.url.es', required='')
                        p.help-block(ng-show='form["url[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["url[en]"].$valid && submitted,\
                        "has-error": form["url[en]"].$invalid && submitted }')
                        label Url Inglés
                        input.form-control(placeholder="Ejemplo: tuesday-freshness-in-walmart", type='text',
                        name='url[en]', ng-model='promo.url.en', required='')
                        p.help-block(ng-show='form["url[en]"].$error.required && submitted')
                          | Error de validación de campo


                      .form-group(ng-class='{ "has-success": form["tags[en]"].$valid && submitted,\
                        "has-error": form["tags[en]"].$invalid && submitted }')
                        label Tags (separadas por coma) Inglés
                        input.form-control(placeholder="Ejemplo: food, pizza, mexican", type='text',
                        name='tags[en]', ng-model='promo.tags.en', required='')
                        p.help-block(ng-show='form["tags[en]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group(ng-class='{ "has-success": form["tags[es]"].$valid && submitted,\
                        "has-error": form["tags[es]"].$invalid && submitted }')
                        label Tags (separadas por coma) Español
                        input.form-control(placeholder="Ejemplo: comida, pizza, mexicana", type='text',
                        name='tags[es]', ng-model='promo.tags.es', required='')
                        p.help-block(ng-show='form["tags[es]"].$error.required && submitted')
                          | Error de validación de campo

                      .form-group
                        label Tiene envio a domicilio?
                        input.form-control(type='checkbox', name='homeDelivery', ng-model='promo.homeDelivery')


                    .col-lg-6
                      h1 Imágenes

                      h4 Principal Delgada
                      .form-group(ng-class='{ "has-success": form.imagemain.$valid && submitted,\
                        "has-error": form.imagemain.$invalid && submitted }')
                        input.fileInput.form-control(type='file', name="imagemain", ng-model="user.imagemain", valid-file="", required="", cropImg="imagemain")
                        .cropArea Imagen Original
                          img-crop(image='imagemain', result-image="imagemainCropped" area-type="rectangle" result-image-size="{w: 260, h: 280}")
                        div Imagen Delgada:
                        .cropped
                          img(ng-src='{{imagemainCropped}}' class="img-slim")
                        .form-group(ng-class='{ "has-success": form["imagemaindesc[en]"].$valid && submitted,\
                        "has-error": form["imagemaindesc[en]"].$invalid && submitted }')

                      h4 Principal Larga
                      .form-group(ng-class='{ "has-success": form.imagemain.$valid && submitted,\
                        "has-error": form.imagemain.$invalid && submitted }')
                        input.fileInput.form-control(type='file', name="imagemain", ng-model="user.imagemain", valid-file="", required="", cropImg="imagemain")
                        .cropArea Imagen Original
                          img-crop(image='imagemain', result-image="imagemainlCropped" area-type="rectangle" result-image-size="{w: 500, h: 268}")
                        div Imagen Larga:
                        .cropped
                          img(ng-src='{{imagemainlCropped}}' class="img-large")
                        .form-group(ng-class='{ "has-success": form["imagemaindesc[en]"].$valid && submitted,\
                        "has-error": form["imagemaindesc[en]"].$invalid && submitted }')

                          input.form-control(placeholder='Ejemplo: Mrs. taco chola', type='text',
                          name='imagemaindesc[en]', ng-model='user.imagemaindesc.en', required="")
                        .form-group(ng-class='{ "has-success": form["imagemaindesc[es]"].$valid && submitted,\
                        "has-error": form["imagemaindesc[es]"].$invalid && submitted }')
                          input.form-control(placeholder='Ejemplo: Los tacos doña chola', type='text',
                          name='imagemaindesc[es]', ng-model='user.imagemaindesc.es', required="")
                        p.help-block(ng-show='form.imagemain.$error.required && submitted')
                            | Error de validación de campo

                      p Gallería
                      img( src="{{ promo.images[0].paths.small }}")
                      input.form-control(type='file', name="images")
                      input.form-control(placeholder='Ejemplo: The Chutneys', type='text',
                      name='imagesdesc[en]', ng-model='promo.images[1].desc.en')
                      input.form-control(placeholder='Ejemplo: Las salsas picantes', type='text',
                      name='imagesdesc[es]', ng-model='promo.images[1].desc.es')


                      img( src="{{ promo.images[1].paths.small }}")
                      input.form-control(type='file', name="images")
                      input.form-control(placeholder='Ejemplo: The entrance to the store Mrs. chona', type='text',
                      name='imagesdesc[en]', ng-model='promo.images[2].desc.en')
                      input.form-control(placeholder='Ejemplo: La entrada a la tienda doña chona', type='text',
                      name='imagesdesc[es]', ng-model='promo.images[2].desc.es')

                      img( src="{{ promo.images[2].paths.small }}")
                      input.form-control(type='file', name="images")
                      input.form-control(placeholder='Ejemplo: Mrs. Chona Restaurant', type='text',
                      name='imagesdesc[en]', ng-model='promo.images[3].desc.en')
                      input.form-control(placeholder='Ejemplo: Restaurante Doña Chona', type='text',
                      name='imagesdesc[es]', ng-model='promo.images[3].desc.es')

                      img( src="{{ promo.images[3].paths.small }}")
                      input.form-control(type='file', name="images")
                      input.form-control(placeholder='Ejemplo: Our Chefs', type='text',
                      name='imagesdesc[en]', ng-model='promo.images[4].desc.en')
                      input.form-control(placeholder='Ejemplo: Nuestros Chefs', type='text',
                      name='imagesdesc[es]', ng-model='promo.images[4].desc.es')

                      img( src="{{ promo.images[4].paths.small }}")
                      input.form-control(type='file', name="images")
                      input.form-control(placeholder='Ejemplo: Our Chefs', type='text',
                      name='imagesdesc[en]', ng-model='promo.images[5].desc.en')
                      input.form-control(placeholder='Ejemplo: Nuestros Chefs', type='text',
                      name='imagesdesc[es]', ng-model='promo.images[5].desc.es')

                      button.btn.btn-warning(type='reset') Reset Button
                      button.btn.btn-primary(type='submit') Submit Button

                  //
                     /.col-lg-6 (nested)
                //
                   /.row (nested)
              //
                 /.panel-body
            //
               /.panel
          //
             /.col-lg-12

